.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 60px 20px;
}

.title {
  font-size: 48px;
  font-weight: 800;
}

.subTitle {
  font-size: 32px;
  font-weight: 600;
}

.description {
}
